:root {
  /* Colors */
  --main-color: #ffffff;
  --black-color: #000;
  --secondary-text-color: #828282;
  --secondary-bg-color: #c4c4c4;
  --secondary-light-color: #f2f2f2;
  --dark-color: #333333;
  --modal-border-color: #e6e9f0;
  --input-borders: #868686;
  --input-bg: #fdfcfc;
}
